.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(82, 128, 112);
  color: white;
}
.nav-link {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
